body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
    background-image: url('./images/L.jpg')  ;
    
    background-size: cover; 
    background-repeat: no-repeat;
    
}
nav ul{
    border: solid 1.5px;
    border-bottom-color: rgb(83, 77, 77);
   margin: 0px;
    

}



 

nav li  {
 
    padding-right: 10px;
    text-align: right;
    color: whitesmoke;
   display: flex;
   justify-content:space-evenly ;
  
    cursor: pointer;
 
    
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

nav li img{
    width: 20px;
    height: 20px;
    padding-right: 3px;

 
}
nav li p{
    font-size: 10px;
    text-align: right;
}

.main img {

    height: 92px;
    width: 272px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15%;
      

}

.main form {
    text-align: center;
    box-sizing: border-box;
    
   
    
}

input[type=text] {
 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(238, 232, 232);
    border-radius: 24px;
  }


  .right{
      display: flex;
      float: right;
     
      
      cursor: pointer;
      font-size: 140%;
      padding-right: 9px;
     
      padding-top: 9px;
      border-bottom-color: black;
  }

  .nani {
      background:none;
      
      margin: auto;
      width: fit-content;
      padding-right: 16px;
  }
  .nani img{  
    height: 45px;
    width: 45px;
    text-align: center;
    margin-left: 50%;
    margin: 5px;
    display: inline-block;
    padding: 20px;
  }